
    
    
   .container{
    width:200;
    height:300px;
    border:1px solid black;
    border-radius:10px;
    background-color: blue;
    text-align-last: center;
    box-shadow: 200pc;
     font-family: 'Courier New', Courier, monospace;
    margin-top: 200px; 
}



    


     
